p,
h1,
h2,
ul {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.heading-title {
  border-top: solid 4px #00f;
  border-bottom: solid 1px #00f; }

.text-center {
  text-align: center; }

.heading-title {
  border-top: solid 4px #222;
  border-bottom: solid 1px #222; }

.media-container {
  display: flex;
  align-items: center;
  border-bottom: solid 1px #222;
  padding: 10px; }

.media-thumbnail-container {
  margin-right: 10px; }

.media-thumbnail {
  height: 90px; }

.media-title {
  color: #00f; }

.text-center {
  text-align: center; }
