.l-form-half {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > *:nth-child(odd) {
    border-right: solid 1px $border-color;
  }
}

.l-form-list-title {
  width: 20%;
}

.l-form-list-body {
  width: 75%;
  margin-left: 5%;
}

.l-form-checkbox {
  margin-right: 4%;
}
