.l-align-center {
  text-align: center;
}

.l-bottom {
  margin-bottom: 20px;
}

.l-bottom-small {
  margin-bottom: 20px;
}

.l-margin-right {
  margin-right: 24px;
}

.l-side-layouyt {
  display: flex;
  justify-content: center;
}

.l-ranking-layout {
  display: flex;
  flex-wrap: wrap;
}
