.l-align-center {
  text-align: center;
}

.l-align-right {
  text-align: right;
}

.l-bottom-small {
  margin-bottom: 10px;
}

.l-bottom-large {
  margin-bottom: 20px;
}

.l-section-inner {
  padding: 0 10px;
}
