.l-align-center {
  text-align: center;
}

.l-bottom-small {
  margin-bottom: 10px;
}

.l-bottom {
  margin-bottom: 20px;
}

.l-margin-right {
  margin-right: 10px;
}

.l-side-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  ::after {
    margin-right: 2%;
  }
}
