.card {
  border-radius: 4px;
  width: 46%;
  background-color: #fff;
  flex-grow: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2);

    .card-container {
      // width: 150px;
    }

    .card-thumbnail-container {

    }

    .card-thumbnail {
      width: 100%;
      border-radius: 4px 4px 0 0;
    }
    //mediaにもタイトルあるから、別でモジュール作っても良さそうです
    .card-title {
      font-size: 14px;
    }

    .card-body {
      font-size: 10px;
      padding: 4px;
    }
}
