.category-container {
width: 22%;
}

.category-thumbnail {
  width: 100%;
  border-radius: 50%;
}

.category-thumbnail-container {
  width: 100%;
}

.category-title {
  color: #00f;
  font-size: 12px;
}
