.form-checkbox {

  .form-checkbox-item {
      width: 50%;
      flex-grow: 1;
      border-bottom: solid 1px $border-color;
      padding: 10px;
  }

}

.form-input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  resize: none;
}

.form-pulldown {
  height: 40px;
  position: relative;
  border: solid 1px $border-color;
  width: 100%;

}

.form-list {

  .form-list-item {

    .form-list-container {
      display: flex;
      align-items: flex-start;
      border-bottom: solid 1px $border-color;
      padding: 10px;
    }

    .form-list-container-center {
      align-items: center;
    }

  }

}
