.header {
  padding: 5px 10px;
  background-color: #fff;
  border-bottom: solid 4px $border-color;

  .header-logo {

  }

  .header-logo-img {
    height: 40px;
  }

  .header-menu {

    .header-menu-icon {
      height: 30px;
    }
  }

}
