.media {

  .media-container {
    display: flex;
    align-items: center;
    border-bottom: solid 1px $border-color;
    padding: 10px;
  }

  .media-thumbnail {
    height: 90px;
  }

  .media-thumbnail-container {
    margin-right: 10px;
  }

  .media-title {
    color: #00f;
    font-size: 16px;
  }

}
