.nav {

  border-bottom: solid 2px $border-color;

  .nav-item {
    width: 25%;
    flex-grow: 1;
    padding: 15px 5px;
  }

  & > * {
    border-right: solid 1px $border-color;
  }

  & > *:last-child {
    border-right: 0;
  }

}
